*{  
    font-family: "Outfit", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    min-height: 100vh;
    position: relative;
}
body{
    background-color: #CCC;
    overflow-y: auto;
}
main{
    margin-bottom: 500px;
}
/* navbar */
#logo{
    position: absolute;
    top: 10px;
    left: 9.5%;
}
#logo img{
    width: 50px;
}
#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.89);
    color: white;
    list-style-type: none;
}
#navbar a{
    text-decoration: none;
    color: white;
    transition: .5s;
    font-size: 14px;
}
#navbar a:hover{
    cursor: pointer;
    opacity: 0.8;
}
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: black;
    color: white;
    padding: 14px 0px;
}
#title-container{
    text-align: center;
    margin: 60px 24px;
}
.main-container{
    display: flex;
    width: 60%;
    margin: auto;
    gap: 40px;
    flex-flow: row wrap;
    justify-content: space-between;
    box-sizing: border-box;
}
#posts-container{
    display: flex;
    flex-flow: column nowrap;
    width: 30%;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}
#posts-container:first-child{
    width: 100%;
}
#posts-container a,
#posts-container p,
#posts-container div{
    padding: 10px 24px;
}

#posts-container a{
    text-decoration: none;
    color: black;
}
.posts-tags{
    display: flex;
    list-style-type: none;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 24px;
}
.posts-tags li{
    background-color: rgb(225, 225, 225);
    padding: 0px 15px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-page-container{
    width: 60%;
    margin: 60px auto;
    display: flex;
}
.post-title{
    text-align: center;
    font-size: 30px;
    margin-top: 60px;
}
.img-post{
    margin-bottom: 24px;
}
.img-post, .img-post img{
    width: 100%;
    border-radius: 15px;
}
.post-container{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.categories-container{
    width: 30%;
    margin-left: 20px;
}
.categories-list{
    list-style-type: none;
}
@media screen and (max-width: 600px) {
    #posts-container{
        width: 100%;
    }
    .posts-tags{
        
        gap: 10px;
    }
    .post-container{
        width: 100%;
    }
    .post-page-container{
        flex-direction: column-reverse;
    }
    .categories-container{
        width: 30%;
        margin: 0px 0px 24px 0px;
    }
    .post-title{
        width: 300px;
        margin: 60px auto 0px auto;
    }
}