*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .pt-sans-bold {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .pt-sans-regular-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .pt-sans-bold-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #046865;
}
section{
    margin: auto;
    background-color: #21A0A0;
    height: 80%;
    width: 80%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    border-radius: 15px;
    gap: 50px;
    
}
section h1{
    text-align: center;
    color: white;
    font-size: 30px;
}
.first form{
    display: flex;
    justify-content: space-between;
}
.first ul{
    list-style-type: none;
}
.second{
    list-style-type: none;
    gap: 20px;
    overflow-y: auto;
}
.plus-btn{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 5px 20px;
    font-size: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: green;
}
.plus-btn:hover{
    cursor: pointer;
}
form input[type='text']{
    background-color: transparent;
    border: 0px;
    border-bottom: 2px solid #FCFFF7;
    padding: 5px;
    font-size: 20px;
    width: 100%;
    color: white
}
::placeholder{
    color: #FCFFF7;
}
.list-item{
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #FCFFF7;
    padding-bottom: 5px;
    font-style: normal;
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.iconsset{
    display: flex;
    gap: 15px;
}
.completed p{
    text-decoration: line-through;
    color: grey;
}
.clear{
    width: 100%;
    padding: 10px;
    color: white;
    background-color: red;
    font-weight: 600;
    font-size: 20px;
    border: 0;
    border-radius: 10px;
}
.clear:hover{
    cursor: pointer;
}